.app{
  position: relative;
  padding-bottom: 30px;
}

.app__background{
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.app__main{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
